.rootContet{
    background-color: whitesmoke; 
  
}

.opac{
   background: whitesmoke;
 

  /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";

  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
    filter: alpha(opacity=95);
  
    /* Modern Browsers */
    opacity: 0.95;
}