<div class="navbar nabar-default">
<ul class="navbar navbar-nav" >
    <li *ngIf="sortTopToBottom" class="nav">
        <button class="btn btn-success">Top to Bottom</button>
    </li>
    <li *ngIf="sortAz" class="nav">
        <button class="btn btn-success" >Sort A-z</button>
    </li>
    <li *ngIf="showRepbulican" class="nav">
        <button class="btn btn-success">Republic</button>
    </li>
    <li *ngIf="showDemocrat" class="nav">
        <button class="btn btn-success" >Democrats</button>
    </li>
    <li *ngIf="showAll" class="nav">
        <button class="btn btn-success">Independats</button>
    </li>
    <li *ngIf="showHouse" class="nav">
        <button class="btn btn-success">All</button>
    </li>
    <li *ngIf="showSenate" class="nav">
        <button class="btn btn-success">House</button>
    </li>
    <li *ngIf="showHandS" class="nav">
        <button class="btn btn-success">Senate</button>
    </li>
    <li *ngIf="showCurentCycle" class="nav">
        <button class="btn btn-success">All</button>
    </li>
    <li *ngIf="showAllCycles" class="nav">
        <button class="btn btn-success" >All</button>
    </li>
</ul>
</div>